.sc-util{
    .notice-area{
        padding: 20px;
        background: #f1f1f1;
        display: flex;
        .badge{
            width: 10%;
            font-weight: 700;
            color: #004b29;
        }
        .title{
            font-size: 14px;
            font-weight: 500;
            line-height: 1.5;
            margin-left: 5px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            white-space: normal
        }
    }
    .policy-area{
        padding: 10px 20px;
        background: #004b29;
        color: #d8d8d8;
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 20px;
        height: 38px;
        .wh{color: #fff;}
    }
    .util-area{
        padding: 20px;
        .uitl-list{
            display: flex;
            flex-direction: column;
            gap: 8px;
            a{
                font-size: 15px;
                line-height: 1.5;
                font-weight: 500;
            }
        }
        .sns-box{
            margin-top: 20px;
            display: flex;
            gap: 10px;
            .link-face{
                display: block;
                width: 30px;
            }
        }
    }
}

.sc-info{
    background: #f7f7f7;
    padding: 20px 20px 91px;
    color: #5a5a5a;
    .notice{
        font-size: 10px;
        line-height: 14px;
        font-weight: 500;
    }
    .info-area{
        margin-top: 15px;
        dl{
            font-size: 12px;
            line-height: 1.5;
        }
        dt{
            display: inline-block;
        }
        dd{
            display: inline-block;
            margin-left: 10px;
        }
    }
    .cert-area{
        margin-top: 15px;
        display: flex;
        .cert-box{
            width: 50%;
            display: flex;
            align-items: center;
            .img-box{
                width: 40px;
            }
            span{
                flex: 1;
                padding-left: 10px;
                font-size: 10px;
                line-height: 1.2;
            }
        }
    }
    .copy-area{
        margin-top: 15px;
        display: flex;
        align-items: center;
        
        .footer-logo{
            display: none;
            width: 67px;
            display: inline-block;
        }
        address{
            flex: 1;
            padding-left: 20px;
            font-size: 9px;
            color: #a5a5a5;
            vertical-align: middle;
            letter-spacing: -.5px;
            white-space: normal;
        }
    }
}