section{
    .title-area{
        .title{
            padding: 0 20px;
            font-size: 22px;
            font-weight: 700;
            display: inline-block;
        }
    }
    .thumb-box{
        position: relative;
        .thumb{
            img{border-radius: 5px 5px 0 0;}
        }
        .link-cart{
            display: inline-block;
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 30px; height: 30px;
        }
    }
    .price{
        margin-top: 10px;
        .before{
            display: block;
            font-size: 11px;
            color: #999;
            text-decoration: line-through;
        }
        strong{
            font-size: 16px;
            line-height: 21px;
            font-weight: 600;
            color: #111;
            letter-spacing: -.01em;
            .unit{
                font-weight: 500;
                margin-left: 1px;
            }
        }
        .sale{
            margin-left: 5px;
            display: inline-block;
            font-size: 14px;
            color: #c80000;
            font-weight: 700;
        }
    }
    .member{
        margin-top: 10px;
        font-size: 10px;
        line-height: 19px;
        font-weight: 500;
        .coupon{
            display: inline-block;
            height: 19px;
            padding: 0 5px;
            background-color: #f1f1f1;
            border-radius: 4px;
        }
        .price{
            margin-left: 5px;
        }
    }
}


.container{
    padding-top: 90px;
}


.gnb-bar{
    position: fixed;
    bottom: 0; left: 0;
    height: 71px;
    width: 100%;
    background: #fff;
    z-index: 10;
    border-top: 1px solid #acacac;
    ul{display: flex;}
    li{
        height: 71px;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        span{font-size: 11px;}
        img{width: 32px; height: 32px; margin: 0 auto;}
    }
}


.sc-visual{
    position: relative;
    
    .swiper-pagination{
        position: absolute;
        bottom: 20px;
        right: 20px;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 24px;
        background: rgba(0,0,0,0.5);
        border-radius: 12px;
        font-size: 14px;
        color: #fff;
        a{
           display: block;
        }
        
        
    }
    .swiper-pagination-current{
        font-weight: 700;
    }
    .swiper-pagination-total::after{
        content: '';
        display: inline-block;
        background-image: url('../images/ic-check.svg');
        background-repeat: no-repeat;
        background-size: 12px;
        background-position: 85% center;
        width: 12px; height: 12px;
        margin-left: 6px;
    }
}

.sc-event{
    z-index: 20000;
    position: fixed;
    top: 500px; left: 0;
    height: 100vh;
    visibility: hidden;
    transition: .5s;
    overflow-y: auto;
    .title-box{
        position: fixed;
        top: 0; left: 0;
        display: flex;
        background: #fff;
        width: 100%;
        .btn-close{
            display: block;
            width: 8px;
            padding: 16px 20px 16px;
            background: #00f;
        }
        .title{
            line-height: 50px;
            font-weight: 700;
            font-size: 16px;
            padding: 0 20px;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: block;
            display: -webkit-box;
            overflow: hidden;
            white-space: normal;
        }
    }
    .event-list{
        padding-top: 50px;
    }
}
.sc-event.on{
    top: 0;
    left: 0;
    visibility: visible;
    height: 100%;
    
}


.sc-icon{
    margin-top: 20px;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    .icon-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72px;
        width: calc(100% / 4);
        margin: 4px 0;
        padding: 7px;
        .link-service{
            display: block;
            img{width: 40px; height: 40px; margin: 0 auto;}
            span{
                font-size: 12px;
            }
        }
    }
    
}




.group-product{
    padding: 30px 0 20px;
    overflow: hidden;
    .swiper{
        margin-top: 20px;
        padding: 0 20px;
        // 화면 늘릴 때 스와이퍼는 늘어나지 않고 그대로 보여지는 방법 질문
        overflow: visible;
    }
    .swiper-slide{
        width: 155px;
    }
    .title-area{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 33px;
        .title{
            padding: 0 20px;
            font-size: 22px;
            font-weight: 700;
            display: inline-block;
        }
        .link-more{
            background-image: url('../images/ic-arrow.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: left;
            display: inline-block;
            width: 17px;
            height: 10px;
            transform: rotate(90deg);
            margin-right: 20px;
        }
    }
    .info-box{
        display: block;
        padding: 10px;
        p{
            font-size: 12px;
            line-height: 18px;
            max-height: 36px;
            overflow: hidden;
            white-space: normal;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        
    }
}

.banner{
    margin-top: 30px;
}



.sc-insta{
    padding: 30px 0 100px;
    .insta-list{
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 10px;
        padding: 0 20px;
    }
    .insta-item{
        img{
            border-radius: 5px;
        }
    }
}

.group-border{
    margin-top: 60px;
    border: 4px solid #f1f1f1;
}


.sc-time{
    padding: 30px 0 20px;
    .title-area{
        .desc{
            font-size: 14px;
            display: block;
            margin: 0 20px;
            font-weight: 600;
        }
        .sub-desc{
            font-size: 12px;
            color: #bcbcbc;
            padding-top: 3px;
            display: block;
            margin: 0 20px;
            font-weight: 500;
        }
    }
    .time-area{
        margin: 15px 20px 0;
        padding: 8px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        background-color: #004b29;
        border-radius: 20px;
        .date{
            padding-right: 25px;
            font-size: 13px;
            font-weight: 400;
            position: relative;
        }
        .date::after{
            content: '';
            display: inline-block;
            background-image: url('../images/main_date_box_status.png');
            background-repeat: no-repeat;
            background-size: 17px 17px;
            width: 17px; height: 17px;
            position: absolute;
            top: 50%; transform: translateY(-50%);
            right: 0;
        }
        .time{
            font-size: 15px;
            font-weight: 700;
        }
    }
    .swiper{
        padding: 20px;
        li{
            padding: 20px;
        }
        .thumb{
            img{border-radius: 5px 5px 0 0;}
        }
    }
    .info-box{
        display: block;
        padding: 10px;
        p{
            font-size: 12px;
            line-height: 18px;
            max-height: 36px;
            overflow: hidden;
            white-space: normal;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .quantity{
            display: inline-block;
            margin-top: 5px;
            font-size: 12px;
            color: #004b29;
        }
        .quantity+.quantity::before{
            content: '';
            display: inline-block;
            width: 1px;
            height: 10px;
            margin: 0 5px;
            background: #004b29;
        }
        
    }


}



.group-recomm{
    padding: 30px 0 20px;
    .swiper{
        margin-top: 20px;
        padding: 0 20px;
        li{
            padding: 20px;
        }
    }
    .title-box{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 33px;
        .title{
            padding: 0 20px;
            font-size: 22px;
            font-weight: 700;
            display: inline-block;
        }
        .link-more{
            background-image: url('../images/ic-arrow.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: left;
            display: inline-block;
            width: 17px;
            height: 10px;
            transform: rotate(90deg);
            margin-right: 20px;
        }
    }
    .desc{
        font-weight: 500;
        font-size: 18px;
        margin: 3px 20px 0;
    }
    .thumb-box{
        position: relative;
        .new-badge{
            position: absolute;
            top: 0; left: 0;
            background-image: url('../images/recomm-new.svg');
            background-repeat: no-repeat;
            background-size: 50px 21px;
            width: 50px; height: 21px;
            
        }
    }
    .info-box{
        .title{
            margin-top: 15px;
            font-size: 18px;
            min-height: 18px;
            max-height: 18px;
            line-height: 18px;
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .desc{
            margin-top: 7px;
            font-size: 14px;
            margin-top: 6px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            white-space: normal;
            margin-left: inherit;
            margin-right: inherit;
            display: block;
        }
        .price-wrap{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            
        }
    }
    .process-box{
        margin-top: 10px;
        p{
            font-size: 16px;
            font-weight: 500;
        }
        .bar{
            margin-top: 10px;
            display: block;
            width: 100%;
            height: 6px;
            position: relative;
            background-color: #f1f1f1;
            border-radius: 6px;
            overflow: hidden;
            .curr{
                display: block;
                background: #004b29;
                height: 6px;
            }
        }
        .count{
            margin-top: 10px;
            min-height: 6px;
            display: flex;
            justify-content: space-between;
            span{
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                color: #004b29;
            }
        }
    }
    .swiper-pagination{
        position: relative;
        padding-bottom: 20px;
        gap: 5px;
        font-size: 14px;
        font-weight: 500;
        .swiper-pagination-current{
            font-weight: 700;
        }
    }
}




.sc-cate{
    padding: 30px 0 20px;
    .title-area{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 33px;
        .title{
            padding: 0 20px;
            font-size: 22px;
            font-weight: 700;
            display: inline-block;
        }
        .link-more{
            background-image: url('../images/ic-arrow.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: left;
            display: inline-block;
            width: 17px;
            height: 10px;
            transform: rotate(90deg);
            margin-right: 20px;
        }
    }
    .catemenu{
        padding: 20px 20px 0;
        li{
            width: auto;
            padding: 5px 10px;
            color: #a5a5a5;
            font-size: 15px;
            text-align: center;
        }
        .swiper-slide.swiper-slide-active{
            color: #004b29;
            position: relative;
            font-weight: 700;
        }
        .swiper-slide.swiper-slide-active::after{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #004b29;
            display: block;
            content: '';
        }
    }
    .categoods{
        li{
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
            .goods-wrap{
                .thumb{
                    img{border-radius: 5px;}
                }
            }
        }
        .info-box{
            padding: 10px;
            display: block;
            p{
                font-size: 12px;
                line-height: 18px;
                max-height: 36px;
                overflow: hidden;
                white-space: normal;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            
        }
    }
}


.group-product2{
    padding: 30px 0 20px;
    .swiper{
        margin-top: 20px;
        padding: 0 20px;
    }
    .title-box{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 33px;
        .title{
            padding: 0 20px;
            font-size: 22px;
            font-weight: 700;
            display: inline-block;
        }
        .link-more{
            background-image: url('../images/ic-arrow.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: left;
            display: inline-block;
            width: 17px;
            height: 10px;
            transform: rotate(90deg);
            margin-right: 20px;
        }
    }
    .desc{
        font-weight: 500;
        font-size: 18px;
        margin: 3px 20px 0;
    }
    .info-box{
        padding: 10px;
        display: block;
        p{
            font-size: 12px;
            line-height: 18px;
            max-height: 36px;
            overflow: hidden;
            white-space: normal;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        
    }
}




// scroll-box
.scroll-box{
    position: fixed;
    bottom: 86px; 
    right: 15px;
    z-index: 1000;
    
    
    
    .btn-top{
        position: relative;
        display: block;
        width: 35px;
        height: 0;
        background: #222;
        border-radius: 50%;
        box-shadow: 2px 3px 4px rgb(0 0 0 / 15%);
        visibility: hidden;
        opacity: 0;
        transition: .3s;

        
        
    }
    .btn-top::before{
        content: '';
        display: inline-block;
        width: 10px; height: 12px;
        position: absolute;
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        background-image: url('../images/hy-common.png');
        background-position: -197px -268px;
        background-size: 311px 310px;
        background-repeat: no-repeat;

    }
}
.btn-top.active{
    visibility: visible;
    height: 35px;
    opacity: 1;
    transition: .3s;
}
